<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plaza Records</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Plaza Records data</h1>
        <div style="margin-top: 20px;">
            <button onclick="window.location.href='/login'" style="margin-right: 10px;">Login</button>
            <button onclick="window.location.href='/register'">Register</button>
        </div>
    </div>
</body>
</html>
